body,div{

margin:0;
padding:0;


}

#main{
	margin:auto;
	border:1px solid blue;
	width:300px;
	height:200px;
	margin-top:50px;
	
	
	/*Firefox*/
	display:-moz-box;
	-moz-box-orient:vertical;
	
	
	/*Safari.Opera. Chrome*/
	display:-webkit-box;
	-webkit-box-orient:vertical;
	
	/*W3C*/
	display:box;
	box-orient:vertical;
}


#div1{
	
	box-flex:2.0;
	-webkit-box-flex:2.0;
	-moz-box-flex:2.0;
	background-color:#00B366;
	
}

/*排列到第一位*/
#div2{
	 box-flex:1.0;
	 -webkit-box-flex:1.0;
	 -moz-box-flex:1.0;
	 background-color:#80C8FE;
}

#div3{
	 height:100px;
	 background-color:#FEB380;
}

